<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <system.web>
          <customErrors mode="Off" />
          <compilation debug="true" targetFramework="4.6" />
          <httpRuntime targetFramework="4.5" />
      </system.web>
      <appSettings>
          <clear/>
          <add key="Version" value="1.0" />
          <add key="ValidationSettings:UnobtrusiveValidationMode"     value="None" />
      </appSettings>
      <system.webServer>
          <handlers>
              <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
              <remove name="OPTIONSVerbHandler" />
              <remove name="TRACEVerbHandler" />
              <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
          </handlers>
     </system.webServer>
</configuration>